In [2]:
import pandas as pd
jira_df = pd.read_csv('../inputs/jira.csv')
jira_df

,Issue Type,Issue key,Issue id,Summary,Assignee,Reporter,Priority,Status,Resolution,Created,Updated,Due date
0,Story,SAM-3,10002,hdr,melihdegis@gmail.com,admin,Medium,Done,Done,07-03-2020 16.10,07-03-2020 16.12,NaN
1,Story,SAM-2,10001,gdr,thangdc94@gmail.com,admin,Medium,Done,Done,07-03-2020 16.10,07-03-2020 16.12,NaN
2,Story,SAM-1,10000,"k,dsfkesncskajcaihcjMANDJXAY",lukas.mestan@hyperia.sk,admin,Medium,Done,Done,07-03-2020 16.08,07-03-2020 16.12,NaN
3,Story,SAM-3,10002,hdr,melihdegis@gmail.com,admin,Medium,Done,Done,07-03-2020 16.10,07-03-2020 16.12,NaN
4,Story,SAM-3,10002,hdr,melihdegis@gmail.com,admin,Medium,Done,Done,07-03-2020 16.10,07-03-2020 16.12,NaN
5,Story,SAM-2,10001,gdr,thangdc94@gmail.com,admin,Medium,In progress,Done,07-03-2020 16.10,07-03-2020 16.12,NaN

In [3]:
unique_devs = jira_df['Assignee'].unique()
unique_devs

array(['melihdegis@gmail.com', 'thangdc94@gmail.com',
       'lukas.mestan@hyperia.sk'], dtype=object)

In [4]:
# loop through unique_devs and get their respective tickets with done status
uniq_names = []
ticket_count = []
for each in unique_devs:
    tmp_df = jira_df.where((jira_df['Assignee']==each) & (jira_df['Status']=='Done'))
    fil_df = tmp_df[tmp_df['Assignee'].notnull()]
    ticket_count.append(fil_df['Assignee'].count())
    uniq_names.append(each)
for_df = {
    'email':uniq_names,
    'tickets_count':ticket_count
}
for_df

{'email': ['melihdegis@gmail.com',
  'thangdc94@gmail.com',
  'lukas.mestan@hyperia.sk'],
 'tickets_count': [3, 1, 1]}

In [5]:
f_df = pd.DataFrame.from_dict(for_df)
f_df

                     email  tickets_count
0     melihdegis@gmail.com              3
1      thangdc94@gmail.com              1
2  lukas.mestan@hyperia.sk              1

In [6]:
# to csv file
f_df = pd.DataFrame.from_dict(for_df)
f_df.to_csv("../outputs/jira.csv",index=False)